body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol{
    list-style: none;
}

.header-navigation-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-navigation-logo-text {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

/* navigation links */ 
.header-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #404BBF;
}

/* address */
.header-navigation-address {
    font-style: normal;
}

.header-navigation-address-list-item a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.header-navigation-address-list-item a:hover,
.header-navigation-address-list-item a:focus {
    color: #404BBF;
}

.header {
    color: #2E2F42;
}
/* navigation section end */

/* hero-banner section */

.hero-banner {
    background-color: #2E2F42;
}
.hero-banner-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-banner-button:hover,
.hero-banner-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.hero-banner-button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;
}

/* hero-banner section end*/

/* hero-banner section */

/* studio section */

.studio {
}

.studio-title{
    text-align: center;
    color: #2E2F42;
}

.studio-list {
}
.studio-list-item {
}
.studio-subtitle {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}
.studio-subtitle-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/* studio section end*/

/* team section end*/

.team {
    background-color: #F4F4FD;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}
.team-list {
}
.team-list-item {
    background-color: #FFFFFF;
}
.team-list-item-image {
}
.team-list-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}
.team-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2em;
    text-align: center;
    color: #434455;
}

/* team section end*/

/* portfolio section */

.portfolio {
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;      
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.portfolio-list {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.portfolio-list-item {
    background-color: #E7E9FC;
    text-transform: capitalize;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    transform: translateY(-4px);
    cursor: pointer;
}

.portfolio-list-item-image {
}

.portfolio-list-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* portfolio section end */

.bottom {
    background-color: #2E2F42;
}
.bottom-logo {
font-family: "Raleway", sans-serif;  
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.bottom-logo-span {
    color: #f4f4fd; 
}

.bottom-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;;
}