*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

section {
    max-width: 100%;
    padding: 96px 0;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.webstudio {
    padding: 16px 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
    color: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    padding: 5px 4px;
}

.icon-burger {
    fill: #2e2f42;
    width: 100%;
    height: 100%;
}

.site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.links-list {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
}

.links {
    display: block;
    padding: 8px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links:hover,
.links:focus {
    color: #404bbf;
}

.links-active {
    color: #404bbf;
}

.links-active::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    color: #404bbf;
}

.contacts-list {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
    align-items: center;
}

.contacts-link {
    display: block;
    padding: 4px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    text-decoration: none;
    color: #404bbf;
}

.links-list,
.contacts-list {
    display: none;
}

.menu-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    visibility: visible;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    padding: 0 16px;
    margin: 0;
    align-items: start;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-overlay.active {
    display: flex;
    opacity: 1;
    visibility: hidden;
    pointer-events: auto;
}

.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid rgba(20, 20, 20, 0.1);
    font-size: 32px;
    display: flex;
    background: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav {
    margin: 76px 0 168px 0;
    padding: 0;
}

.menu-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    text-align: start;
}

.menu-nav ul li:first-child a {
    color: #404bbf; /* синий цвет */
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    text-align: start;
    justify-content: center;
    margin-bottom: 48px;
}

.menu-phone{
    font-family: inherit;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404BBF;
}

.menu-email {
    font-family: inherit;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-phone:hover,
.menu-phone:focus,
.menu-email:hover,
.menu-email:focus {
    color: #404bbf;
}

.menu-social {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-svg {
    fill: #f4f4fd;
}

/* Section 1 */
.main-section {
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
}

.main-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.main-section-button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-button:hover,
.main-section-button:focus {
    color: #fff;
    background: #404bbf;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.main-section-button:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* Section 2 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.features {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features .features-item {
    width: 100%;
}

.features-icon-container {
    display: none;
}

.features-icon {
    margin: 0;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section 3 */
.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.team-list .team-card {
    width: 100%;
    max-width: 264px;
}

.team-card {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-list-link {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-list-svg {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg-icon {
    fill: #f4f4fd;
}

.team-svg:hover,
.team-svg:focus {
    background-color: #404bbf;
}

/* Our Portfolio */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
}

.portfolio-row-first {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.portfolio-row-first .portfolio-row {
    width: 100%;
    max-width: 396px;
}

.portfolio-row {
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.row-text-position {
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    margin: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-row:hover .row-text-position,
.portfolio-row:focus .row-text-position {
    transform: translateY(0%);
}

.portfolio-row-first li:hover,
.portfolio-row-first li:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.row-text-container {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}

.row-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.row-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
.footer {
    display: flex;
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-bottom: 16px;
}

.studio-logo {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;
}

.footer-social-link {
    width: 40px;
    height: 40px;
}

.footer-svg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg:hover,
.footer-svg:focus {
    background-color: #31d0aa;
}

.footer-svg-icon {
    fill: #f4f4fd;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.form-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 288px;
}

.form-input {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    outline: none;
    border-color: #4d5ae5;
}

.form-input::placeholder {
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    opacity: 0.6;
}

/* Кнопка підписки */
.form-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-btn-svg {
    margin-left: 16px;
    fill: #fff;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

/* <!-- Modal Backdrop and Window --> */

input {
    font-family: inherit;
}

.checkbox-text{
  padding-left: 0px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal-window {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    background-color: #404bbf;
}

.btn-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .btn-svg,
.modal-close-btn:focus .btn-svg {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.form-container {
    margin-bottom: 8px;
}

.modal-label {
    margin-bottom: 4px;
    position: relative;

    display: block;
    flex-direction: column;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.input-icon-container {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    font-family: inherit;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    outline: none;
    border-color: #4d5ae5;
}

.input-icon {
    transform: translateY(-50%);
    position: absolute;
    left: 16px;
    top: 50%;
    pointer-events: none;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 18px;
    height: 24px;
    display: block;
}

.modal-input:focus+.input-icon {
    fill: #4d5ae5;
}

.input-icon svg {
    width: 100%;
    height: 100%;
}

.input-icon {
    z-index: 1;
}

.modal-label-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    outline: none;
    border-color: #4d5ae5;
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.checkbox {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-input {
    appearance: none;
    position: absolute;
    opacity: 0;
}

.checkbox-custom {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    vertical-align: middle;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked+label .checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.chekbox-svg {
    fill: #f4f4fd;
}

.modal-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-link:hover,
.modal-policy-link:focus {
    color: #404bbf;
}

.modal-send-btn {
    display: block;
    align-self: center;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* Media queries for tablets */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }

    section {
        padding: 96px 0;
    }

    /* Header tablets */

    .burger-btn {
        display: none;
    }

    .menu-overlay {
        display: none !important;
        position: static;
        height: auto;
        background: none;
        flex-direction: row;
        justify-content: flex-end;
    }

    .menu-nav ul {
        display: none;
        gap: 24px;
    }

    .close-btn {
        display: none;
    }

    .header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .webstudio {
        margin-right: 76px;
        margin-bottom: 0;
        padding: 24px 0;
    }

    .site-nav {
        flex-direction: row;
        align-items: center;
        justify-content: normal;
    }

    .links-list {
        margin-bottom: 0;
        gap: 40px;
    }

    .links {
        padding: 24px 0;
    }

    .contacts-list {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        padding: 16px 0;
    }

    .contacts-link {
        padding: 0;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .links-list,
    .contacts-list {
        display: flex;
    }

    /* Hero section tablets */
    .main-section {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .main-text {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
        margin-bottom: 36px;
    }

    /* Features tablets */
    .features {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .features .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .features-text {
        font-weight: 400;
    }

    /* Team tablets */
    .team-container {
        padding: 0 108px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .team-list .team-card {
        flex-basis: calc((100% - 24px) / 2);
        max-width: none;
    }

    /* Portfolio tablets */
    .portfolio-row-first {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }

    .portfolio-row-first .portfolio-row {
        flex-basis: calc((100% - 24px) / 2);
        max-width: none;
    }

    /* Footer tablets */
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        row-gap: 72px;
        column-gap: 24px;
        padding: 0 108px;
    }

    .footer-cont {
        margin: 0;
        max-width: 264px;
        align-items: flex-start;
        text-align: left;
    }

    .footer-info {
        display: flex;
        gap: 24px;
    }

    .footer-social {
        margin: 0;
        align-items: flex-start;
    }

    .footer-form {
        align-items: flex-start;
    }

    .subscribe-form {
        flex-direction: row;
        align-items: flex-end;
        gap: 24px;
    }

    .form-label {
        max-width: 264px;
    }

    /* Modal tablets */
    .modal-window {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

/* Media queries for desktops */
@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }

    section {
        padding: 120px 0;
    }

    /* Header desktops */

    .burger-btn {
        display: none;
    }

    .header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .site-nav {
        flex-direction: row;
        align-items: center;
        width: auto;
    }

    .contacts-list {
        flex-direction: row;
        gap: 40px;
        align-items: center;
        padding: 0;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        color: #2e2f42;
        font-weight: 400;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* Hero section desktops */
    .main-section {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-text {
        margin-bottom: 48px;
    }

    /* Features desktops */
    .features-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        height: 112px;
        margin-bottom: 8px;
    }

    .features {
        gap: 24px;
    }

    .features .features-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }

    .features-text {
        font-weight: 400;
    }

    /* Team desktops */

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-list .team-card {
        flex-basis: calc((100% - 72px) / 4);
    }

    /* Portfolio desktops */
    .portfolio-row-first {
        gap: 24px;
        row-gap: 48px;
    }

    .portfolio-row-first .portfolio-row {
        flex-basis: calc((100% - 48px) / 3);
    }

    /* Footer desktops */
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 0;
    }

    .footer-cont {
        margin-right: 120px;
    }

    .footer-social {
        align-items: flex-start;
        margin-right: auto;
    }

    .footer-form {
        margin: 0 0 0 auto;
        padding: 0;
        max-width: 483px;
    }
}

/* Mobile photo */
@media screen and (min-width: 320px) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/bg-mob-min.jpg");
    }
}

/* Mobile photo 2x */
@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/bg-mob2x-min.jpg");
    }
}

/* Tablets photo */
@media screen and (min-width: 768px) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/bg-tab-min.jpg");
    }
}

/* Tablets photo x2 */
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/bg-tab2x-min.jpg");
    }
}

/* Desktop photo */
@media screen and (min-width: 1158px) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-banner.jpg");
    }
}

/* Desktop photo x2 */
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-banner-desktop.jpg");
    }
} 