*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* ======= Container ======= */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ======= Header ======= */
.header {
    color: #2E2F42;
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ======= Navigation ======= */
.header-navigation {
    display: flex;
    align-items: center;
    width: 100%;
}

/* ======= Logo ======= */
.header-navigation-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-navigation-logo-text {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

/* ======= Navigation List ======= */
.header-navigation-list {
    display: flex;
    margin-right: 332px;
}

.header-navigation-list-page {
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-navigation-list-page:last-child {
    margin-right: 0;
}

.header-navigation-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms ease;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #404BBF;
}

/* ======= Contacts ======= */
.header-navigation-address {
    font-style: normal;
}

.header-navigation-address-list {
    display: flex;
}

.header-navigation-address-list-item {
    margin-right: 40px;
}

.header-navigation-address-list-item:last-child {
    margin-right: 0;
}

.header-navigation-address-list-item a {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms ease;
}

.header-navigation-address-list-item a:hover,
.header-navigation-address-list-item a:focus {
    color: #404BBF;
}
/* navigation section end */

/* hero-banner section */

:root {
    --color-primary: #4d5ae5;
}

/* hero-banner section */
.hero-banner {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.hero-banner-button {
    display: block; 
    min-width: 169px; 
    height: 56px;
    border: none;
    background-color: var(--color-primary); 
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 12px 24px;
}

.hero-banner-button:hover,
.hero-banner-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* hero-banner section end*/


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* studio section */
.studio {
    width: 100%;
    background-color: #ffffff;
    padding: 120px 0;
}

.studio-list {
    display: flex;
    gap: 24px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    list-style: none;
}

.studio-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.studio-subtitle {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
}

.studio-subtitle-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
/* studio section end*/

/* team section end*/

.team {
    background-color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    text-align: center;
    padding: 120px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.team-list-item {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.team-list-item:first-child {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item-image {
    width: 100%;
    height: auto;
    display: block;
}

.workers-name {
    padding: 32px 0;
    text-align: center;
}

.team-list-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.team-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
/* team section end*/

/* portfolio section */

.portfolio {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 120px 0;
    background-color: #fff;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-container {
    border: 1px solid #e7e9fc; /* по ТЗ */
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    background-color: #FFFFFF;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(46, 47, 66, 0.08);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.portfolio-list-item:hover {
    box-shadow: 0px 4px 16px rgba(46, 47, 66, 0.12);
}

.portfolio-list-item-image {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-name {
    padding: 32px 16px;
    border-top: none;
    background-color: #fff;
}

.portfolio-list-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #2E2F42;
}

.portfolio-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
/* portfolio section end */

.bottom {
    background-color: #2e2f42;
    font-family: "Relaway", sans-serif;
    padding: 100px 0;
}


.bottom-logo {
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    text-decoration: none;
    display: inline-block;
}

.bottom-logo-span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}

.bottom-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}